:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* COLORS */
  --white: #fff;
  --tiffany-blue: #75dddd;
  --blue: #508991;
  --prussian-blue: #172a3a;
  --midnight-green: #004346;
  --mint: #09bc8a;
  --red: #ff2b31;
  --light-red: #ff8083;

  /* COMPONENTS STYLINGS */
  --shadow: 0px 0px 30px 1px var(--tiffany-blue);
  --button-color: var(--mint);
  --button-hover-color: var(--midnight-green);
  --button-active-outline: var(--mint);
  --button-disabled-color: var(--blue);

  --input-outline: var(--midnight-green);
  --input-focus-outline: var(--mint);
  --input-placeholder-color: var(--blue);
  --input-required: var(--red);

  --text-color: var(--white);

  --bg-color: var(--prussian-blue);

  --round-border: 0.625rem;

  --error-bg-color: var(--light-red);
  --error-border-color: var(--red);
}

html,
body {
  margin: 0;
  box-sizing: border-box;
}
