.heading {
  color: var(--text-color);
  font-style: normal;
  line-height: 1.1;
}

.h1 {
  font-size: 1.944rem;
  font-weight: 700;
}

.h2 {
  font-size: 1.62rem;
  font-weight: 600;
}

.h3 {
  font-size: 1.35rem;
  font-weight: 600;
}
